@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Orbitron&family=Poppins:wght@400;700;800&family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  height: 200vh;
}

.menu {
  height: 6vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  position: fixed;
  border-bottom: 1.5px solid rgb(227, 227, 227);
}

.menu-left,
.menu-right {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.menu a {
  text-decoration: none;
}

.hero {
  height: 30%;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 6rem;
}

.hero h2 {
  font-size: 1.5rem;
  color: rgb(105, 104, 104);
  font-weight: 100;
}
