@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Orbitron&family=Poppins:wght@400;700;800&family=Ubuntu:wght@400;500;700&display=swap');

/* .header{
    height: 30px;
    width: auto;
    background-color: white;
    display: flex;
} */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.menu {
  height: 6vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  position: fixed;
  border-bottom: 1.5px solid rgb(227, 227, 227);
  z-index: 10;
}

.menu-left,
.menu-right {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.menu-left a,
.menu-right a {
  color: black;
}

.menu a {
  text-decoration: none;
}

.googly {
  height: 3rem;
}

.prvi {
  padding-top: 6rem;
  height: 1000px;
  width: fit-content;
  background-color: rgb(231, 228, 228);
  display: flex;
  justify-content: first baseline;
  align-items: center;
  flex-direction: column;
}
.naslov {
  text-decoration-line: underline;
  text-decoration-color: #3e78b2;
}
.tekst {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  line-height: 25px;
  /* word-spacing: 5px; */
}

.naslov {
  justify-content: center;
}

.mihajlo{
  border: 2px solid #0253cc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

}
.velja{
  border: 2px solid #0253cc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.milanche{
  border: 2px solid #0253cc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.mihajloTroll{
  height: 200px;
  width: 300px;
}
.milancheTroll{
  height: 200px;
  width: 300px;
}
.veljaTroll{
  height: 200px;
  width: 300px;
}
.biografija{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;

}
.footer {
  height: 6vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-top: 1.5px solid rgb(227, 227, 227);
}